#card {
  padding-top: 20px;
  margin: auto;
  background-color: rgba(214, 224, 226, 0.2);
  border-top-width: 0;
  border-bottom-width: 2px;
  width:60%;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin-top: 1%;
  border-radius: 3%;
}

.userPic {
  float: none;
  margin: 0 auto;
  width: 50%;
  height: 50%;
  -webkit-border-radius: 50% !important;
  -moz-border-radius: 50% !important;
  border-radius: 50% !important;
  border-color:#1a423f;
  margin-bottom: 10%;
}
.profile-user-edit-btn-wrapper{
  display: flex;
  align-items: flex-end

}
.user-avatar{
  margin-left: 30%;
}
.label{
  color: #1a423f;
  font-weight: 2em;
  font-style: bold;
  font-size: large;
}
