<nav class="navbar-expand-lg navbar-light bg-light">
  <div class="vw-100 navbar-wrapper">
    <a class="" routerLink="/">
      <img src="../../../assets/img/Logo.png" class="navbar-logo"/>
    </a>
    <div class="collapse navbar-collapse navbar-links-wrapper">
      <a class="nav-link mx-0 p-0 navbar-link" routerLinkActive="active" routerLink="/login">
        <img src="assets/img/connect.png">
      </a>
      <a class="nav-link mx-0 p-0 navbar-link" routerLinkActive="active" routerLink="/signin">
        <img src="assets/img/signin.png">
      </a>
      <div ngbDropdown class="d-inline-block navbar-dropdown-btn-wrapper">
        <button class="users-manager-table-btn" id="dropdownBasic1" ngbDropdownToggle>
          <img src="assets/Icons/user-icon.svg">
        </button>
        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
          <button class="dropdown-item" (click)="onBasket()">Mon panier</button>
          <button class="dropdown-item" (click)="onLogout()">Se déconnecter</button>
        </div>
      </div>
    </div>
  </div>
</nav>

<!--<a class="nav-link" routerLinkActive="active" (click)="onLogout()" routerLink="/">-->
<!--  Se deconnecter-->
<!--</a>-->
<!--<a class="nav-link" routerLinkActive="active" routerLink="/signin">S'inscrire</a>-->
<!--<a class="nav-link" routerLinkActive="active" routerLink="/basket">Panier</a>-->
