<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img />
      La Cantinère Logo
    </a>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" *ngIf='logged === false'  routerLink="/login"
            >Se connecter</a
          >
          <a class="nav-link" routerLinkActive="active" *ngIf='logged === true'  routerLink="/login"
            >Se connecter</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="/signup"
            >S'inscrire</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="/basket"
            >Panier</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>
