@import "src/theme/variables";
@import "src/theme/mixins";

.navbar-wrapper {
  height: $navbar-height;
  align-items: center;

  @include flex-box();
  @include custom-col(100%);
}

.navbar-links-wrapper {
  justify-content: flex-end;

  @include flex-box();
}

.logo-wrapper {
  @include custom-col(30%);
}

.links-wrapper {
  text-align: right;

  @include custom-col(70%);
}

.nav-link {
  margin: 0 10px;
  font-size: 20px;
  text-decoration: none;
}

.navbar-logo {
  width: 20%;
  border-radius: 50%;
  padding: 10px;
}

.navbar-links-wrapper {
  a {
    img {
      width: 200px;
    }
  }
}

.navbar-dropdown-btn-wrapper {
  margin-right: 10px;

  button {
    border: none;
    background-color: transparent;

    &:focus {
      outline: none;
    }

    img {
      width: 40px;
      font-weight: bold;
      filter: invert(19%) sepia(30%) saturate(797%) hue-rotate(126deg) brightness(95%) contrast(91%);
    }
  }
}

.dropdown-item {
  color: $secondary;
  font-weight: bold;
}

.dropdown-toggle::after {
  display: none;
}

.navbar-link {
  &:hover {
    opacity: 0.5;
  }
}
