<!--<h1 id="wk">{{ date | date: 'w'}}</h1>-->
<div class="row sidebar-bg mx-0">
  <div class="container-fluid">
    <div class="row vw-100">
      <app-sidebar
        (btnEvent)="loadMenuOfSelectedDay($event)"
        [buttonsMenu]="days"
        class="vw-100"
      ></app-sidebar>
    </div>
  </div>
</div>
<div class="container home-container">
  <div class="row flex justify-content-center align-items-lg-center home-wrapper">
    <div *ngIf="selectedMenusFromDay?.length">
      <div *ngFor="let menu of selectedMenusFromDay[0]?.menus">
        <div class="row ">
          <div *ngFor="let meal of menu.meals">
            <div class="col-3">
              <div class="card home-card" style="width: 13rem;">
                <img class="card-img-top" [src]="meal.pathImg" alt="Image plat"/>
                <div class="card-body">
                  <h5 class="card-title">{{meal.label}}</h5>
                  <p class="card-text">{{meal.priceDF}} €</p>
                  <button class="btn" (click)="selectMenu(menu)">
                    Ajouter au panier
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- <div class="card" style="width: 18rem;">
  <img class="card-img-top" [src]="meal.pathImg" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">{{meal.label}}</h5>
    <p class="card-text">{{meal.priceDF}}</p>
    <button class="btn btn-primary" (click)="selectMenu(menu.id)">AddTOCard</button>
  </div>
</div> -->
