@import "src/theme/mixins";
@import "src/theme/variables";

.login-container {
  height: calc(100vh - #{$navbar-height});
  flex-direction: column;
  text-align: center;

  @include flex-box();
}

.login-header {
  margin-bottom: 25px;

  @include font-size-weight-color(30px, 500, #000);
}

.login-wrapper {
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @include flex-box();
  @include custom-col(100%);
}

.form-control {
  margin: 20px 0;
}

.submit-btn {
  border: 1px solid #1a423f;
  color: #1a423f;
  background-color: #fff;
  width: 120px;
  border-radius: 15px;
  padding: 5px 10px;

  &:hover {
    color: #fff;
    background-color: #1a423f;
  }
}
