<div class="login-container">
  <div class="login-wrapper">
    <div class="login-header-wrapper">
      <h2 class="login-header">Connexion</h2>
    </div>
    <form [formGroup]="authForm" class="login-container col-3" (ngSubmit)="onSubmit()">
      <div [ngClass]="{ 'has-error': isSubmitted && formControls.email.errors }">
        <input type="email" class="form-control" placeholder="Email" formControlName="email"/>
      </div>
      <div *ngIf="isSubmitted && formControls.email.errors" class="help-block">
        <div *ngIf="formControls.email.errors.required">Email is required</div>
      </div>
      <div [ngClass]="{ 'has-error': isSubmitted && formControls.password.errors }">
        <input type="password" class="form-control" placeholder="Password" formControlName="password"/>
      </div>
      <div *ngIf="isSubmitted && formControls.password.errors" class="help-block">
        <div *ngIf="formControls.password.errors.required">
          Password is required
        </div>
      </div>
      <div class="mb-3">
        <button type="submit" class="btn btn-primary">
          Se connecter
        </button>
      </div>
      <div>
        <a routerLink="/reset_password">Mot de passe oublié ? </a>
      </div>
    </form>
  </div>
</div>
