<div class="login-container">
  <div class="login-wrapper">
    <div class="login-header-wrapper">
      <h2 class="login-header">Connexion</h2>
    </div>
    <form [formGroup]="authForm" class="login-container col-3" (ngSubmit)="onSubmit()">
      <div [ngClass]="{ 'has-error': isSubmitted && formControls.email.errors }">
        <input type="email" class="form-control" placeholder="Email" formControlName="email"/>
      </div>
      <div [ngClass]="{ 'has-error': isSubmitted && formControls.password.errors }">
        <input type="password" class="form-control" placeholder="Password" formControlName="password"/>
      </div>
      <div class="mb-3">
        <button type="submit" class="btn btn-primary" [disabled]="!authForm.valid">
          Se connecter
        </button>
        <p class="error-message my-2" *ngIf="this.getUserNotFoundSubject() | async">Login ou mot de passe incorrect</p>
      </div>
      <div>
        <a routerLink="/reset_password">Mot de passe oublié ? </a>
      </div>
    </form>
  </div>
</div>
