<div>
  <h2>Mot de pass oublié</h2>
  <form [formGroup]="resetForm" (ngSubmit)="onSubmit()">
    <p>
      <input type="email" placeholder="Email" formControlName="email" />
    </p>
    <p>
      <input type="submit" value="Envoyer" />
    </p>
  </form>
</div>
<div>
  <form [formGroup]="passwordFrom">
    <div class="form-group col-3 px-5">
      <div class="user-detail" *ngIf="!isFormDisplayed"></div>
      <input type="text" class="form-control" id="password"
            placeholder="Entrer un mot de passe"
            formControlName="password"
            *ngIf="isFormDisplayed">
    </div>
    <div class="form-group col-3 px-5">
      <div class="user-detail" *ngIf="!isFormDisplayed"></div>
      <input type="text" class="form-control" id="confirmpassword"
            placeholder="Confirme le mot de passe"
            formControlName="confirmpassword"
            *ngIf="isFormDisplayed">
    </div>
    <div class="btn-submit col-12">
      <button type="submit" class="btn btn-primary"
              *ngIf="isFormDisplayed"
              (click)="submitChangePwd()">
        Validé
      </button>
    </div>
  </form>

</div>
