<div>
  <h2>Mot de pass oublié</h2>
  <form [formGroup]="resetForm" (ngSubmit)="onSubmit(content)">
    <p>
      <input type="email" placeholder="Email" formControlName="email" />
    </p>
    <p>
      <input type="submit" value="Envoyer" />
    </p>
  </form>
</div>
<div>
  <ng-template #content let-modal>
    <div class="modal-header">
      <div class="row col-12">
        <h4 class="modal-title col-12 my-0" id="modal-basic-title">Reset Password</h4>
      </div>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="form-group">
        <label for="pasword">Vous voulez modifidé le mot de passe?</label>
        <div class="input-group">
          <input id="pasword" class="form-control" name="pasword" type="pasword" [formControl]="passwordControl">
          <div class="input-group-append">
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-primary"
              [disabled]="!passwordControl.valid"
              (click)="modal.close('Save click')">
        Modifié
      </button>
    </div>
  </ng-template>
</div>
