@import "src/theme/variables";
@import "src/theme/mixins";
.cart-table-container {
  width:100%;
}

.valide-container {
  display: flex;
  justify-content: flex-end;
  margin-right: 8%;
  margin-top: 2%;
}
.total-container {
  display: flex;
  justify-content: flex-end;

  background-color: #1a423f;
}
.menu-price{
  display: flex;
  justify-content: flex-end;
  margin-right: 8%;
  color: white;
}
.list-group-item {
  display: flex;
  justify-content: flex-end;
  background-color: #1a423f;
  width: 100%;
  color:white;
  margin-right: 7%;
}
.btn {
  background-color: #1a423f;
  color:#ffc107;
}

.cart-container{
  display: flex;
}
.panier-wrapper{
  width:30%;
}
.cart-wrapper{
  width:67%;
}
.shopping_cart{
  min-height: 300px;
  background-color: $bc;
  padding-top: 30px;

.panier-wrapper{
  padding-top: 80px;
}
}
.summary-action-btn{
  width: 30px;
  background-color: transparent;
  border: none;
}
.cart-item{
  font-size: 1.5em;
}

.cart-supp-wrapper{
  min-width: 300px;
  display: flex;
  justify-content: flex-end;
}
.menue-action-btn {
  text-align: left;
  justify-content: flex-end;

  @include custom-col(100%);

  img {
    width: 30px;
    filter: invert(70%) sepia(53%) saturate(886%) hue-rotate(337deg) brightness(100%) contrast(102%);
  }
}
.header-cart-menu {
  justify-content: center;
  border-bottom: 1px solid $primary;
  padding: 10px 0;
  margin-bottom: 20px;

  @include flex-box();

  button {
    border: none;
    background-color: transparent;
    color: $secondary;

    &:focus {
      outline: none;
    }
  }
}
