<table>
  <tbody>
    <tr>
      <td>Mon du menu: {{ menu?.label }}</td>
    </tr>
    <tr>
      <td> Description: {{ menu?.description }}</td>
    </tr>
    <tr class="list-group-item active">
      <td><strong>Prix : </strong>{{ menu?.priceDF }} €</td>
    </tr>
    <tr>
      <table>
        <tbody>
          <tr *ngFor="let meal of menu?.meals; let i = index">
            <td>
              <input type="checkbox" ng-model="checked" ng-value="choice_meal" id="{{meal.id}}" (change)="getTotalCard($event)" value="{{ meal.priceDF }}">
              <label for="choice_meal">{{ i + 1 }}</label>
            </td>
            <td>Meal name: {{ meal.label }}</td>
            <td>Meal Price: {{ meal.priceDF }}</td>
          </tr>
        </tbody>
      </table>
    </tr>
  </tbody>
</table>
<div><strong>TOTAL:</strong>{{ cartTotal || menu?.priceDF | number : '1.2-2'}} €</div>
<div><button class="btn btn-danger" (click)="putCommandeValidation($event)">validé !</button></div>

<modal #modal [modalConfig]="modalConfig">
  <!--  body of the modal  -->
</modal>
