<div class="users-manager-container row">
  <div class="col-2">
    <app-sidebar
      [buttonsMenu]="canteenMenus"
      (btnEvent)="onSelectedMenu($event)"
    ></app-sidebar>
  </div>
  <div class="users-manager-table-wrapper col-10 my-3">
    <div class="users-manager-table-section-top">
      <form>
        <div class="form-group form-inline">
          Rechercher par client : <input class="form-control ml-2" type="text" [formControl]="userFilter"/>
        </div>
      </form>
      <div class="users-manager-table-section-top-add">
        <button (click)="onAddUser()">
          <img src="assets/Icons/add-icon.svg">
          Créer un client
        </button>
      </div>
    </div>

    <table class="table table-striped">
      <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Nom</th>
        <th scope="col">Prénom</th>
        <th scope="col">Adresse</th>
        <th scope="col">Code postal</th>
        <th scope="col">Ville</th>
        <th scope="col">Téléphone</th>
        <th scope="col">Crédits</th>
        <th scope="col">Actions</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let user of filteredUsers; index as i">
        <th scope="row">{{ user.id }}</th>
        <td>{{ user.name }}</td>
        <td> {{ user.firstname }}</td>
        <td>{{ user.address }}</td>
        <td>{{ user.postalCode }}</td>
        <td>{{ user.town }}</td>
        <td>{{ user.phone }}</td>
        <td>{{ user.wallet }}</td>
        <td>
          <div ngbDropdown class="d-inline-block">
            <button class="users-manager-table-btn" id="dropdownBasic1" ngbDropdownToggle>
              <img src="assets/Icons/edit-icon.svg">
            </button>
            <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
              <button class="dropdown-item" (click)="onEditUser(user.id)">Editer</button>
              <button class="dropdown-item">Créditer</button>
            </div>
          </div>
          <button class="users-manager-table-btn" (click)="deleteUser(user)"
                  data-toggle="tooltip" data-placement="top" title="Delete">
            <img src="assets/Icons/trash-icon.svg">
          </button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
