// Navbar variables
$navbar-height: 110px;
$navbar-background-color: #f8f9fa;

// Colors
$primary: #1a423f;
$secondary: #ffa526;

// Icon filters
//$primary-icon: filter: invert(19%) sepia(30%) saturate(797%) hue-rotate(126deg) brightness(95%) contrast(91%);
//$secondary-icon: filter: invert(70%) sepia(53%) saturate(886%) hue-rotate(337deg) brightness(100%) contrast(102%);

// Table colors

// Thead
$primary-thead : rgba(26, 66, 63, 0.5);
$primary-row: rgba(26, 66, 63, 0.2);
