@import "src/theme/variables";
@import "src/theme/mixins";

$bc: #f8f9fa;

.canteen-order-add-container {
  height: calc(100vh - 90px);
  background-color: $bc;
  padding-top: 30px;
}

.canteen-order-add-wrapper {
  margin: 50px 20px;
  padding: 20px;
  border: 1px solid $primary;
  border-radius: 25px;
  background-color: $primary-row;
  text-align: center;
}

.canteen-order-add-form-section-top {
  justify-content: center;
  border-bottom: 1px solid $primary;
  padding: 10px 0;
  margin-bottom: 20px;

  @include flex-box();

  button {
    border: none;
    background-color: transparent;

    &:focus {
      outline: none;
    }

    img {
      width: 20px;
    }
  }

  .canteen-order-add-btn-back-wrapper {
    text-align: left;

    @include custom-col(100%);

    button {
      color: $secondary;
    }

    img {
      width: 25px;
      filter: invert(70%) sepia(53%) saturate(886%) hue-rotate(337deg) brightness(100%) contrast(102%);
    }
  }
}

.label-title {
  @include custom-col(100%);
}

label {
  font-size: 16px;
  font-weight: bold;
}

.canteen-order-add-form-section-top {
  justify-content: center;

  @include flex-box();
}

.canteen-order-add-form-ingredients {
  margin: 20px 0 30px 0;

  @include custom-col(100%);
}

.canteen-order-add-form-body {
  flex-direction: column;
  align-items: center;
  justify-content: center;

  @include flex-box();
}

.warning-msg {
  color: red;
}

.form-control {
  margin-bottom: 15px;
}

.btn-primary {
  margin: 10px 0;
}
