@import "src/theme/variables";
@import "src/theme/mixins";

.canteen-user-add-container {
  height: calc(100vh - 90px);
  background-color: $bc;
  padding-top: 30px;
}

.canteen-user-add-form-wrapper {
  margin: 50px 20px;
  padding: 20px;
  border: 1px solid $primary;
  border-radius: 25px;
  background-color: $primary-row;
  text-align: center;
}

.canteen-user-add-form-section-top {
  justify-content: center;
  border-bottom: 1px solid $primary;
  padding: 10px 0;
  margin-bottom: 20px;

  @include flex-box();

  button {
    border: none;
    background-color: transparent;
    color: $secondary;

    &:focus {
      outline: none;
    }
  }

  .canteen-user-add-btn-wrapper {
    text-align: right;

    @include custom-col(100%);
  }

  .canteen-user-add-btn-back-wrapper {
    text-align: left;

    @include custom-col(100%);

    img {
      width: 30px;
      filter: invert(70%) sepia(53%) saturate(886%) hue-rotate(337deg) brightness(100%) contrast(102%);
    }
  }
}

.canteen-user-add-img-wrapper {
  img {
    width: 150px;
    height: auto;
    border-radius: 10px;
  }
}

.label-title {
  @include custom-col(100%);
}

label {
  font-size: 16px;
  font-weight: bold;
}

.user-detail {
  margin: 10px 0;
  color: darkgrey;
}

.canteen-user-add-form-section-top {
  justify-content: center;

  @include flex-box();
}

.canteen-user-add-form-ingredients {
  margin: 20px 0 30px 0;

  @include custom-col(100%);
}

.canteen-user-add-form-body {
  justify-content: center;

  @include flex-box();
}
