@import "src/theme/variables";
@import "src/theme/mixins";

.orders-manager-table-wrapper {
  height: calc(100vh - 230px);
  overflow: scroll;
  overflow-x: hidden;
}

.sidebar-bg {
  background-color: $primary;
}

.orders-manager-table-btn {
  border: none;
  background-color: transparent;

  img {
    width: 15px;
    filter: invert(70%) sepia(53%) saturate(886%) hue-rotate(337deg) brightness(90%) contrast(102%);
  }
}

.orders-manager-table-section-top {
  justify-content: space-between;
  align-items: center;
  margin: 30px 10px;

  @include flex-box();

  button {
    border: none;
    background-color: transparent;
    color: $secondary;

    img {
      width: 25px;
      filter: invert(70%) sepia(53%) saturate(886%) hue-rotate(337deg) brightness(100%) contrast(102%);
    }
  }

  .form-group {
    margin: unset;
  }
}

table {
  tr:nth-child(even) {
    background-color: $primary-row;
  }

  thead {
    background-color: $primary-thead;
    color: $primary;
  }
}
