<div class="orders-manager-container row mx-0">
  <div class="row sidebar-bg mx-0">
    <div class="container-fluid">
      <div class="row vw-100">
        <app-sidebar
          (btnEvent)="onSelectedMenu($event)"
          [buttonsMenu]="canteenMenus"
          class="vw-100"
        ></app-sidebar>
      </div>
    </div>
  </div>
  <div class="orders-manager-table-wrapper vw-100">
    <div class="orders-manager-table-section-top">
      <form>
        <div class="form-group form-inline">
          Rechercher par utilisateur : <input class="form-control ml-2" type="text" [formControl]="orderFilter"/>
        </div>
      </form>
      <div class="orders-manager-table-section-top-add">
        <button (click)="onAddOrder()">
          <img src="assets/Icons/add-icon.svg">
          Prendre une commande
        </button>
      </div>
    </div>

    <div class="scroll-table">
      <table class="table table-striped">
        <thead>
        <tr>
          <th scope="col">Id</th>
          <th scope="col">Utilisateur</th>
          <th scope="col">Cagnotte</th>
          <th scope="col">Plat commandé(s)</th>
          <th scope="col">Quantité</th>
          <th scope="col">Montant TTC</th>
          <th scope="col">Date de la commande</th>
          <th scope="col">Heure de la commande</th>
          <th scope="col">Status</th>
          <th scope="col">Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let order of filteredOrders; index as i">
          <th scope="row">{{ order.id }}</th>
          <td>{{ order.user.firstname }} {{ order.user.name }}</td>
          <td>{{ order.user.wallet }}</td>
          <td *ngIf="!(!!order.quantity)"></td>
          <td *ngIf="!(!!order.quantity)"></td>
          <td *ngIf="!(!!order.quantity)"></td>
          <td *ngIf="!!order.quantity">{{ order?.quantity[0]?.meal.label }}</td>
          <td *ngIf="!!order.quantity">{{ order?.quantity[0]?.quantity }}</td>
          <td *ngIf="!!order.quantity">{{ order?.quantity[0]?.quantity * order?.quantity[0].meal.priceDF }}</td>
          <td>{{ order.creationDate | date: 'EEEE d MMMM y'}}</td>
          <td>{{ order.creationTime }}</td>
          <td [ngSwitch]="order.status">
            <div *ngSwitchCase="0">Créée</div>
            <div *ngSwitchCase="1">Délivrée</div>
            <div *ngSwitchCase="2">Annulée</div>
          </td>
          <td>
            <button class="orders-manager-table-btn" (click)="onEditOrder(order.id)"
                    data-toggle="tooltip" data-placement="top" title="Edit">
              <img src="assets/Icons/edit-icon.svg">
            </button>
            <button class="orders-manager-table-btn" (click)="cancelOrder(order)"
                    data-toggle="tooltip" data-placement="top" title="Delete">
              <img src="assets/Icons/trash-icon.svg">
            </button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
