@import "src/theme/variables";
@import "src/theme/mixins";

.sidebar-images {
  text-align: center;
  height: 100px;

  @include custom-col(100%);

  &_btn {
    background-color: inherit;
    margin-right: 20px;
    padding: 0;
    border: none;
    background: none;

  }

  &_img {
    height: 100px;
  }
}

button:focus {
  outline: none;
}

button:hover {
  opacity: 0.3;
}
