.sidebar-images {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;

  &_btn {
    background-color: inherit;
    margin-right: 20px;
    padding: 0;
    border: none;
    background: none;

  }

  &_img {
    width: 100%;
  }
}

button:focus {
  outline: none;
}