@import "src/theme/variables";
@import "src/theme/mixins";

.modal-content {
  background-color: $bc;
  text-align: center;
}

.modal-header {
  position: relative;
  text-align: center;
  border-bottom: 1px solid $primary;

  .modal-title {
    position: absolute;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    height: 100%;

    @include flex-box();
    @include font-size-weight-color(18px, bold, $primary);
  }
}

.modal-body {
  text-align: center;
  margin: 20px 0;

  @include font-size-weight-color(14px, normal, $primary);
}

.modal-footer {
  border-top: 1px solid $primary;
  justify-content: center;
}
