<div class="summary-wrapper row">
  <div class="col-1">
    <app-sidebar
      [buttonsMenu]="canteenMenus"
      (btnEvent)="onSelectedMenu($event)"
    ></app-sidebar>
  </div>

  <div class="summaries-wrapper col-11">
    <div class="row meals-summary">
      <div class="col-12">
        Récapitulatif des commandes
        <button (click)="summaryToggle()" [ngSwitch]="isMealSummaryDisplayed">
          <img *ngSwitchCase="true" src="assets/Icons/keyboard-arrow-up.svg">
          <img *ngSwitchCase="false" src="assets/Icons/keyboard-arrow-down.svg">
        </button>
      </div>

      <div class="meals-summary-details col-12" *ngIf="isMealSummaryDisplayed">
        <div class="meals-summary-details-wrapper">
          <div class="meals-summary-details-total-meals my-1">
            Nombre total de plats commandés aujourd'hui :
            <span> {{ totalOrders }} </span>
          </div>
          <div class="meals-summary-details-per-meal row">
            <div class="col-12 my-1"> Quantité par plats : </div>
            <div class="meal-details" *ngFor="let meal of numberOfMeals">
              {{ meal.meal }}
              <span> {{ meal.quantity }} </span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div [ngClass]="isMealSummaryDisplayed ? 'row table-summary':'row table-summary-without-toggle'">
      <table class="table table-striped">
        <thead>
        <tr>
          <th scope="col">id</th>
          <th scope="col">Plat commandé</th>
          <th scope="col">Quantité</th>
          <th scope="col">Utilisateur</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let order of ordersOfTheDay; index as i">
          <th>{{ order.id }}</th>
          <td *ngIf="order?.quantity">
            {{ order.quantity[0].meal.label }}
          </td>
          <td *ngIf="!order?.quantity"></td>
          <td *ngIf="order?.quantity">
            {{ order.quantity[0].quantity }}
          </td>
          <td *ngIf="!order?.quantity"></td>
          <td>{{ order.user.firstname }} {{ order.user.name }}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
