<div class="summary-wrapper row mx-0">
  <div class="row sidebar-bg">
    <div class="container-fluid">
      <div class="row vw-100">
        <app-sidebar
          (btnEvent)="onSelectedMenu($event)"
          [buttonsMenu]="canteenMenus"
          class="vw-100"
        ></app-sidebar>
      </div>
    </div>
  </div>

  <div class="summaries-wrapper vw-100">
    <div class="row meals-summary">
      <div class="col-12 meals-summary-wrapper">
        Récapitulatif des commandes
        <button (click)="summaryToggle()" [ngSwitch]="isMealSummaryDisplayed">
          <img *ngSwitchCase="true" src="assets/Icons/keyboard-arrow-up.svg">
          <img *ngSwitchCase="false" src="assets/Icons/keyboard-arrow-down.svg">
        </button>
      </div>

      <div class="meals-summary-details col-12" *ngIf="isMealSummaryDisplayed">
        <div class="meals-summary-details-wrapper">
          <div class="meals-summary-details-total-meals my-1">
            Nombre total de plats commandés aujourd'hui :
            <span> {{ totalOrders }} </span>
          </div>
          <div class="meals-summary-details-per-meal row">
            <div class="col-12 my-1"> Quantité par plats : </div>
            <div class="meal-details" *ngFor="let meal of numberOfMeals">
              {{ meal.meal }}
              <span> {{ meal.quantity }} </span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div [ngClass]="isMealSummaryDisplayed ? 'row table-summary':'row table-summary-without-toggle'">
      <table class="table table-striped">
        <thead>
        <tr>
          <th scope="col">id</th>
          <th scope="col">Plat commandé</th>
          <th scope="col">Quantité</th>
          <th scope="col">Prix</th>
          <th scope="col">Status</th>
          <th scope="col">Utilisateur</th>
          <th scope="col">Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let order of ordersOfTheDay; index as i">
          <th>{{ order.id }}</th>
          <td *ngIf="order?.quantity">
            {{ order.quantity[0].meal.label }}
          </td>
          <td *ngIf="!order?.quantity"></td>
          <td *ngIf="order?.quantity">
            {{ order.quantity[0].quantity }}</td>
          <td *ngIf="!order?.quantity"></td>
          <td *ngIf="order?.quantity">
            {{ order.quantity[0].quantity * order.quantity[0].meal.priceDF }}
          </td>
          <td [ngSwitch]="order.status">
            <div *ngSwitchCase="0">Créée</div>
            <div *ngSwitchCase="1">Délivrée</div>
            <div *ngSwitchCase="2">Annulée</div>
          </td>
          <td *ngIf="!order?.quantity"></td>
          <td>{{ order.user.firstname }} {{ order.user.name }} : {{ order.user.wallet }}€</td>
          <td>
            <button class="summary-action-btn" (click)="payAndDeliverOrder(order)"
                    data-toggle="tooltip" data-placement="top" title="Encaisser et donner la commande">
              <img src="assets/Icons/deliver-icon.svg">
            </button>
            <button class="summary-action-btn" (click)="editOrder(order)"
                    data-toggle="tooltip" data-placement="top" title="Modifier">
              <img src="assets/Icons/edit-icon.svg">
            </button>
            <button class="summary-action-btn" (click)="deleteOrder(order)"
                    data-toggle="tooltip" data-placement="top" title="Supprimer">
              <img src="assets/Icons/trash-icon.svg">
            </button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
