.summaries-wrapper {
  padding-left: 70px;
}

.meals-summary {
  padding: 20px 10px;

  button {
    border: none;
    background-color: transparent;
    height: 15px;
    width: 15px;

    &:focus {
      outline: none;
    }

    img {
      width: 15px;
    }
  }
}

.meals-summary-details {
  height: 200px;
}

.table-summary {
  overflow: scroll;
  overflow-x: hidden;
  height: calc(100vh - 335px);
}

.table-summary-without-toggle {
  overflow: scroll;
  overflow-x: hidden;
  height: calc(100vh - 165px);
}
