@import "src/theme/variables";
@import "src/theme/mixins";

.summaries-wrapper {
  padding: 0 15px 0 20px;
}

.sidebar-bg {
  background-color: #1a423f;
}

.meals-summary {
  padding: 20px 10px;
  margin: 20px 10px;
  border: 1px solid #1a423f;
  border-radius: 20px;

  button {
    border: none;
    background-color: transparent;
    height: 15px;
    width: 15px;

    &:focus {
      outline: none;
    }

    img {
      width: 15px;
    }
  }
}

.meals-summary-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.meals-summary-details {
  height: 200px;
  overflow: scroll;
  overflow-x: hidden;
}

.table-summary {
  overflow: scroll;
  overflow-x: hidden;
  height: calc(100vh - 530px);
}

.table-summary-without-toggle {
  overflow: scroll;
  overflow-x: hidden;
  height: calc(100vh - 330px);
}

.meals-summary-details-total-meals {
  font-weight: bold;
}

.meals-summary-details-per-meal {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  font-weight: bold;
}

.meal-details {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: darkslategrey;
  height: 30px;
  border: 1px solid mediumaquamarine;
  border-radius: 15px;
  margin: 5px;
  padding: 0 5px;

  span {
    background-color: aquamarine;
    border-radius: 15px;
    padding: 2px 5px;
    font-weight: 600;
  }
}

table {
  tr:nth-child(odd) {
    background-color: $primary-row;
  }

  thead {
    background-color: $primary-thead;
    color: $primary;
  }
}

.summary-action-btn {
  border: none;
  background-color: transparent;

  button {
    &:focus,
    &:active {
      border: none;
      outline: none;
    }
  }

  img {
    width: 20px;
    filter: invert(70%) sepia(53%) saturate(886%) hue-rotate(337deg) brightness(100%) contrast(102%);
  }
}
