<div class="canteen-meal-edit-container">
  <div class="canteen-meal-edit-form-wrapper">
    <div class="canteen-meal-edit-img-wrapper">
      <img [src]="mealPathImg">
    </div>
    <form [formGroup]="form">
      <div class="row">
        <div class="form-group col-3 px-5">
          <label for="id">Id</label>
          <input type="text" class="form-control" id="id" [placeholder]="form.value.id" disabled>
        </div>
        <div class="form-group col-3 px-5">
          <label for="label">Nom du plat</label>
          <input type="text" class="form-control" id="label" [placeholder]="form.value.label">
          <small id="labelHelp" class="form-text text-muted">Saisissez le nom du plat.</small>
        </div>
        <div class="form-group col-3 px-5">
          <label for="priceDF">Prix</label>
          <input type="number" step="0.01" class="form-control" id="priceDF" [placeholder]="form.value.priceDF">
          <small id="priceHelp" class="form-text text-muted">Saisissez le prix de vente du plat au centime près.</small>
        </div>
        <div class="form-group col-3 px-5">
          <label for="ingredients">Ingrédients</label>
          <input type="text" class="form-control" id="ingredients" [placeholder]="form.value.ingredients">
          <small id="ingredientsHelp" class="form-text text-muted">Précisez les ingrédients du plat.</small>
        </div>
        <div class="form-group col-3 px-5">
          <label for="category">Catégorie</label>
          <input type="text" class="form-control" id="category" [placeholder]="form.value.category">
          <small id="categoryHelp" class="form-text text-muted">Choisissez la catégorie du plat.</small>
        </div>
        <div class="form-group col-3 px-5">
          <label for="availableForWeeks">Disponibilités</label>
          <input type="text" class="form-control" id="availableForWeeks" [placeholder]="form.value.availableForWeeks">
          <small id="availablesHelp" class="form-text text-muted">Choisissez les semaines disponibles de ce plat.</small>
        </div>

<!--        <div class="form-group col-3 px-5">-->
<!--          <label for="status">Status</label>-->
<!--          <input type="text" class="form-control" id="status" [placeholder]="form.value.status">-->
<!--          <small id="statusHelp" class="form-text text-muted">Choisissez le status du plat.</small>-->
<!--        </div>-->

<!--        <div class="form-group col-3 px-5">-->
<!--          <label class="label-title col-12">Status</label>-->
<!--          <div class="form-check form-check-inline">-->
<!--            <input class="form-check-input" type="radio"-->
<!--                   name="inlineRadioOptions" id="status0" value="0"-->
<!--                   (click)="getValue('0')"-->
<!--                   formControlName="status">-->
<!--            <label class="form-check-label" for="status0">Actif</label>-->
<!--          </div>-->
<!--          <div class="form-check form-check-inline">-->
<!--            <input class="form-check-input" type="radio"-->
<!--                   name="inlineRadioOptions" id="status1" value="1"-->
<!--                   (click)="getValue('1')"-->
<!--                   formControlName="status">-->
<!--            <label class="form-check-label" for="status1">Désactivé</label>-->
<!--          </div>-->
<!--          <div class="form-check form-check-inline">-->
<!--            <input class="form-check-input" type="radio"-->
<!--                   name="inlineRadioOptions" id="status2" value="2"-->
<!--                   (click)="getValue('2')"-->
<!--                   formControlName="status">-->
<!--            <label class="form-check-label" for="status2">Effacé</label>-->
<!--          </div>-->
<!--        </div>-->

      </div>
      <button type="submit" class="btn btn-primary">Modifier</button>
    </form>
  </div>
</div>
